@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    /* -- Fondos y Superficies -- */
    --bg-main: #F9F9FB;
    --bg-surface: #FFFFFF;

    /* -- Textos -- */
    --text-primary: #1C1C1E;
    --text-secondary: #8E8E93;

    /* -- Acentos e Interacción -- */
    --accent-color: #0A84FF;
    --accent-hover: #0070DF;
    --success-color: #34C759;
    --danger-color: #FF3B30;

    /* -- Bordes y Sombras -- */
    --border-color: #E5E5EA;
    --shadow-fab: 0px 8px 24px rgba(10, 132, 255, 0.35);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

main button {
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 1rem;
    box-shadow: 0 1px 3px 8px rgba(0.0.0.0.8);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}